/* * {
  outline: 1px solid red;
} */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  background: rgb(101, 101, 101);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* svg {
  width: 1000px;
  height: 600px;
  margin-left: 10vw;
  margin-top: 10vh;
} */

.specialhover {
  background-color: rgb(218, 218, 218) !important;
  border-radius: 0.2em;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
}

#main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h3 {
  margin: 0;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
}

#main {
  height: 500px;
  width: 80vw;
}

.tooltip{
  background: #373737;
  padding: 5px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 0.5em;
  color: white;
}